<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Angular Schedular</title>
  <link rel="stylesheet" href="css/foundation.css" />
  <link rel="stylesheet" href="css/main.css" />
  <script src="js/vendor/modernizr.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/angular-ui-router.js"></script>
  <script src="js/ngStorage.min.js"></script>
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/ng-tags-input/2.0.1/ng-tags-input.min.css" />
  <script src="http://cdnjs.cloudflare.com/ajax/libs/ng-tags-input/2.0.1/ng-tags-input.min.js"></script>
  <script src="app/app.js"></script>
  <script src="app/jobs/jobsListController.js"></script>
</head>
  <body ng-app="schedulerApp">

    <div class="row">
      <div class="large-12 columns">

        <div class="row">
          <div class="large-12 columns">
            
            <nav class="top-bar" data-topbar>
              <ul class="title-area">
                
                <li class="name">
                  <h1>
                    <a href="#">
                      Scheduler
                    </a>
                  </h1>
                </li>
                <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
              </ul>
              
              <section class="top-bar-section shopping-cart">
                <ul class="right">
                  <li class="divider"></li>
                  <li>
                  	<a href="#">Jobs</a>
                  </li>
                  <li class="divider"></li>
                </ul>
              </section>
            </nav>
            
          </div>
        </div>

        <div class="row jobs-container" ng-controller="JobsListController as vm">
          
          <div class="large-12 columns">
            <div class="row">
              
              <div class="large-12 small-6 columns" ng-repeat="job in vm.jobs" >
                <div class="panel">
                	<div class="row">
                		<div class="job-container large-12 columns">
                      <div class="info large-8 columns">
                        <div>1</div>
                        <div>Job Name: {{ job.name }}</div>
                        <div>Interval: {{ job.interval }}</div>
                        <div>Last Run: {{ job.last_run }}</div>
                        <div>Next Run: {{ job.next_run }}</div>
                        <div>Description: {{ job.description }}</div>
                      </div>
                      <div class="edit-container large-4 columns">
                        <div class="button edit">Edit</div>
                        <div class="button remove">Remove</div>
                      </div>
                    </div>
                	</div>
                </div>
              </div>

              <form>
                <div class="row">
                  <div class="small-8 small-push-1 columns">
                    <div class="row">
                      <div class="small-3 columns">
                        <label for="right-label" class="right">Name</label>
                      </div>
                      <div class="small-9 columns">
                        <input type="text" id="name" placeholder="">
                      </div>
                      <div class="small-3 columns">
                        <label for="interval" class="right">Interval</label>
                      </div>
                      <div class="small-9 columns">
                        <input type="number" id="interval" placeholder="">
                      </div>
                      <div class="small-3 columns">
                        <label for="interval_type" class="right">Interval-Type</label>
                      </div>
                      <div class="small-9 columns">
                        <div class="row">
                          <div class="large-12 columns">
                              <select>
                                <option value="months">Months</option>
                                <option value="days">Days</option>
                                <option value="hours">Hours</option>
                                <option value="minutes">Minutes</option>
                              </select>
                          </div>
                        </div>
                      </div>
                      <div class="small-3 columns">
                        <label for="description" class="right">Description</label>
                      </div>
                      <div class="small-9 columns">
                        <input type="text" id="description" placeholder="">
                      </div>
                      <div class="small-9 columns">
                        <input class="button" type="submit" id="submit-job" placeholder="" value="Save">
                      </div>
                    </div>
                  </div>
                </div>
              </form>

              <div class="row">
                <div class="large-8 large-push-2 columns">
                  <div class="button add-new-job large-centered columns" ng-click="vm.addJob($event)">Add New Job</div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
      
  <script src="js/vendor/jquery.js"></script>
  <script src="js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
  </body>
</html>
